.pageNumbers {
    list-style: none;
    display: flex;
}

.pageNumbers li{
    padding: 8px;
    border: 1px solid black;
    cursor: pointer;
}
.pageNumbers li.active{
    background-color: black;
    color: white;
}

.pageNumbers li button{
    background-color: transparent;
    color: black;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.pageNumbers li button:hover{
    background-color: black;
    color: white;
}

.pageNumbers li button:focus{
    outline: none;
}


/* auth pages */
.auth-main-container{
    background-image: url("../picture/view4.jpg");
}

.sub-container{
    padding-bottom: 125px;
}

.left-view {
    margin-top: 180px;
}

.left-view h1{
    font-family: 'Anton', sans-serif;
    font-size: 65px;
    color: white;
}

.left-view p{
    font-family: 'Roboto', sans-serif;
    color: #EF84E6;
    font-size: 30px;
}

.right-view{
    margin-top: 40px;
}

.right-view h1{
    font-family: 'Roboto', sans-serif;
}

.login-active{
    margin-top: 100px;
}

/* register component */

.register-main-container{
    padding-bottom: -125px;
}

/* Header */
.navbar{
    background-color: transparent;
}

.home-navigation{
    height: 40px;
}
.home-navigation:hover{
    border-radius: 10px;
    background-color: #ACFCD9;
}

.home-navigation p{
    font-size: 22px;
    color: #B084CC;
    font-family: 'Anton', sans-serif;
}

/* Home page */
.clock{
    color: #190933;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
}
.clock p{
    color: #190933;
}

/* sub todo */
.search-input input{
    padding-left: 5px;
    color: grey;
    opacity: 0.8;
}

.search-input span button{
    padding-bottom: 7px;
    padding-top: 4px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-color: transparent;
}